/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- MY CSS --- */

/* Icon font */
@font-face {
    font-family: 'Entypo';
    src: url('fonts/entypo.eot');
    src: local('Entypo'), 
         url('fonts/entypo.ttf') format('truetype'),
         url('fonts/entypo.woff') format('woff'),
         url('fonts/entypo.svg#font') format('svg'); 
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular-webfont.eot');
    src: local('Source Sans Pro'), 
         local('Source Sans Pro Regular'), 
         url('fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Regular-webfont.svg#font') format('svg'); 
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('fonts/SourceSansPro-Bold-webfont.eot');
    src: local('Source Sans Pro'), 
         local('Source Sans Pro Bold'),
         url('fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Bold-webfont.svg#font') format('svg'); 
    font-weight: bold;
}

@font-face {
    font-family: 'Colaborate';
    src: url('fonts/ColabReg-webfont.eot');
    src: local('Colaborate'), 
         local('Colaborate Regular'),
         url('fonts/ColabReg-webfont.ttf') format('truetype'),
         url('fonts/ColabReg-webfont.woff') format('woff'),
         url('fonts/ColabReg-webfont.svg#font') format('svg'); 
}

/*
----------
COLOURS:

light pink: #baa3ab
dark pink: ??
light grey: ??
dark grey: #6a737b
red: #b14D43
----------
*/

/* GENERAL */

body{
	font-family: Source Sans Pro;
	font-size: 0.9em;
	color: #6a737b;
}

h1{
	text-transform: uppercase;
	text-align: center;
}

h2{
	font-family: Source Sans Pro Bold;
}

p{
	margin-top: 20px;
}

a:link{
	color: #6a737b;
	text-decoration: none;
}

a:visited{
	color: #6a737b;
}

a:hover{
	color: #c8c8c8;
}

.icon{
	font-family: Entypo;
	font-size: 50px;
}

#content ul li{
	float: left;
	width: 50%;
	height: 30px;
}

/* CONTENT */

#content ul{
	margin-top: 20px;
}

#container{
	margin: auto;
	width: 300px;
	overflow: hidden; /* stop horizontal scrolling accidently appearing */
}

#header{

}

#header div#logo{
	margin: 30px auto 10px auto;
	background-image: url('images/logo.jpg');
	height: 150px;
	width: 150px;
	background-position: center center;
	background-size: 300px 300px;
	font-size: 0px;
	border-bottom: 1px #C8C8C8 solid;
}

#header ul#nav{
	text-align: center;
	margin-bottom: 10px;
}

#header ul#nav li{
	display: inline-block;
}

#header ul#nav li a:link{
	display: block;
	height: 50px;
	line-height: 25px;
	text-align: center;
	width: 50px;
	padding: 10px;
	text-decoration: none;
	font-family: Entypo;
	font-size: 50px;
	color: #C8C8C8;
}

#header ul#nav li a:visited{
	color: #C8C8C8;
}

#header ul#nav li a:hover{
	color: #B197A0;
}

#footer{
	clear: both;
	margin-bottom: 30px;
}

/* HOME */

#content div#portfolio{
	/* image columns CSS3 */
	-webkit-column-count: 2;
	-webkit-column-gap:   0px;
	-moz-column-count:    2;
	-moz-column-gap:      0px;
	column-count:         2;
	column-gap:           0px;
}

#content div#portfolio a img{
	width: 147px;
}

/* hover images */

#content div#portfolio a{
	position: relative;
	display: block;
}

#content div#portfolio a div.hoverImg{
	width: 147px;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
}

/* search bar */

#content form#searchbar{
	position: fixed;
	margin: auto;
	bottom: 0px;
	z-index: 50;
	background-color: #fff;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

#content form#searchbar fieldset{
	margin: auto;
	width: 300px;
}

#content form#searchbar input{
	float: left;
	height: 30px;
	margin-bottom: 0px;
}

#content form#searchbar input[type="submit"]{
	float: left;
	width: 35px;
	height: 35px;
	margin-left: 20px;
}

/* PROJECT DETAILS */

#content img#detailsImg{
	width: 147px;
	float: left;
}

#content div#detailsContent{
	width: 147px;
	float: right;
}

/* ABOUT */

#content ul#aboutInfo{
	width: 200px;
	margin: auto;
}

#content ul#aboutInfo li{
	float: none;
	width: auto;
}

#content ul li span.icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 10px;
	overflow: hidden;
	text-align: center;
	margin-right: 15px;
}

/* skills */

#content h1.skills{
	padding-top: 40px;
	clear: both;
}

#content img.skills{
	display: block;
	margin: auto;
	width: 110px;
	height: 110px;
}

#content div.skills{
	position: relative;
	top: 0px;
	margin: 100px 0px;
}

#content div.skills#printsoftware{
	margin-top: 30px; /* change top margin */
}

#content div.skills h1{
	position: absolute;
	top: 42px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
	display: block;
	width: 80px;
	vertical-align: middle;
}

#content div.skills#printskills h1{
	top: 48px;
}

/* --- print software --- */

#content div#printsoftware #psd{
	position: absolute;
	left: 50%;
	top: 25px;
	margin-left: 60px;
}

#content div#printsoftware #ai{
	position: absolute;
	left: 50%;
	top: 112px;
	margin-left: -60px;
}

#content div#printsoftware #ind{
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -110px;
}

/* --- print skills --- */

#content div#printskills #design{
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: 55px;
}

#content div#printskills #illustration{
	position: absolute;
	left: 50%;
	top: 90px;
	margin-left: 50px;
}

#content div#printskills #packaging{
	position: absolute;
	left: 50%;
	top: 85px;
	margin-left: -115px;
}

#content div#printskills #typography{
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: -132px;
}

#content div#printskills #photography{
	position: absolute;
	left: 50%;
	top: 25px;
	margin-left: -133px;
}

#content div#printskills #photomanipulation{
	position: absolute;
	left: 50%;
	top: -15px;
	margin-left: -130px;
}

/* --- web --- */

#content div#web #html{
	position: absolute;
	left: 50%;
	top: 15px;
	margin-left: 50px;
}

#content div#web #css{
	position: absolute;
	left: 50%;
	top: 80px;
	margin-left: 50px;
}

#content div#web #js{
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -100px;
}

#content div#web #php{
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: -85px;
}

#content div#web #sql{
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -70px;
}

#content div#web #as{
	position: absolute;
	left: 50%;
	top: -15px;
	margin-left: -70px;
}


/* FORMS */

#content form{
	margin: auto;
	width: 200px;
	margin-top: 20px;
}

#content label{
	float: left;
	clear: both;
}

#content form span.error{
	float: right;
	color: red;
}

#content input, #content textarea{
	display: block;
	width: 198px;
	margin-bottom: 30px;
	height: 20px;
}

#content textarea{
	max-width: 199px;
	min-width: 199px;
	height: 100px;
}

#content div.check{
	float: left;
	width: 200px;
	line-height: 20px;
}

#content input[type="hidden"]{
	display: none;
}

#content input[type="file"]{
	float: left;
}


#content input[type="checkbox"]{
	border: 1px red solid;
	width: 10px;
	height: 10px;
	display: inline;
	float: right;
	margin-right: 50px;
}

#content input[type="submit"]{
	background-color: #B197A0;
	border: none;
	height: 50px;
	width: 200px;
	text-transform: uppercase;
	color: #fff;
	font-family: Source Sans Pro Bold;
	cursor: hand;
	cursor: pointer;
}

/* CART */

#content div#cart{
	border-top: 2px #6a737b solid;
	border-bottom: 2px #6a737b solid;
	margin-top: 20px;
}

#content div#cart div{
	height: 30px;
	line-height: 30px;
}

#content div#cart div.cartProduct span{
	float: left;
}

#content div#cart .productName{
	width: 160px;
}

#content div#cart .productQty{
	width: 25px;
}

#content div#cart .productRemove{
	line-height: 0px;
}

#content div#cart div.cartProduct span.productRemove a{
	height: 30px;
	display: block;
	text-decoration: none;
	margin-top: 0px;
	color: red;
	overflow: hidden; /* overflow: hidden to hide anything outside the box */
}

#content div#cart .productPrice{
	float: right !important;
}

#content div#cart div.cartOtherRow{
	border-top: 1px #6a737b solid;
}

#content div#cart .productPrice#total{
	font-family: Source Sans Pro Bold;
}

#content form#purchase{
	width: 100px;
	float: right;
}

#content form#purchase input[type="submit"]{
	width: 100px;
	margin-bottom: 0px;
}

#content div#postalAddress{
	margin-top: 20px;
	float: left;
}

#content div.accountFunctions{
	clear: right;
	width: 100px;
	float: right;
}

#content a.accountFunctions{
	float: left;
	width: 48px;
	text-align: center;
	background-color: #C8C8C8;
	color: #fff;
	text-decoration: none;
	height: 50px;
	line-height: 25px;
	margin-top: 4px;
	overflow: auto;
}

#content a.accountFunctions:first-child{
	margin-right: 4px;
}

/* LOGIN REGISTER */

p#loginregister{
	text-align: center;
}

/* ADMIN */

#content ul.thumbnails{

}

#content ul.thumbnails li{
	clear: both;
	display: inline-block;
	height: 100px;
	width: 100%;
	margin-bottom: 10px;
	line-height: 100px;
}

#content ul.thumbnails li div{
	height: 100px;
	width: 100px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

#content img.thumbnails{
	width: 150px;
}

#content img.editimage{
	width: 147px;
}

#content a.button{
	display: block;
	margin-bottom: 30px;
	background-color: #B197A0;
	height: 50px;
	width: 200px;
	text-transform: uppercase;
	color: #fff;
	font-family: Source Sans Pro Bold;
	text-align: center;
	line-height: 50px;
	margin: auto;
}





/* -------------------------- TABLET -------------------------- */

@media (max-width:850px){
	#content form#searchbar{
		left: 30px;
		margin-left: 0px;
	}
}



/* -------------------------- DESKTOP -------------------------- */


@media (min-width:800px){


	#container{
		width: 800px;
	}


	/* HOME */

	#content div#portfolio a img{
		width: 350px;
		margin-bottom: 30px;
	}

	#content div#portfolio{
		margin-left: 100px;
		/* image columns CSS3 */
		-webkit-column-count: 2;
		-webkit-column-gap:   30px;
		-moz-column-count:    2;
		-moz-column-gap:      30px;
		column-count:         2;
		column-gap:           30px;
	}

	/* hover */

	#content div#portfolio a div.hoverImg{
		width: 350px;
		position: absolute;
		top:0;
		left:0;
		background-color: #fff;
		opacity: 0;
		/* CSS3 transitions to make hover effect fade */
		-webkit-transition:opacity .3s ease-in;  
		-moz-transition:opacity .3s ease-in;  
		-o-transition:opacity .3s ease-in;  
		transition:opacity .3s ease-in;
	}

	#content div#portfolio a:hover div.hoverImg{
		opacity: 0.85;
		color: #6a737b;
	}

	/* search bar */

	#content form#searchbar{
		margin-left: -20px;
		margin-top: 100px;
		bottom: auto;
		width: 260px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#content form#searchbar input[type="submit"]{
		margin-left: 10px;
	}

	/* PROJECT DETAILS */

	#content img#detailsImg{
		width: 385px;
		float: left;
	}

	#content div#detailsContent{
		width: 385px;
		float: right;
	}

	/* ABOUT */

	#content ul#aboutInfo{
		width: 400px;
		margin: auto;
	}

	#content ul#aboutInfo li{
		float: left;
		width: 50%;
		height: 30px;
	}

	/* REGISTER FORM */

	#content form#register{
		width: 430px;
	}

	#content form#register fieldset:nth-child(odd){
		float: left;
		width: 200px;
	}

	#content form#register fieldset:nth-child(even){
		float: right;
		width: 200px;
	}

	#content form#register fieldset:nth-child(3){
		clear: both;
		width: 430px;
		text-align: center;
	}

	p#loginregister{
		clear: both;
	}

	#content form#register input[type="submit"]{
		display: inline;
	}

	/* CART */

	#content div#cart{
		width: 500px;
		float: left;
	}

	#content div#cart .productName{
	width: 300px;
	}

	#content div#postalAddress{
		margin-left: 30px;
	}

	#content form#purchase{
		clear: both;
		float:left;
		width: 500px;
		text-align: center;
	}

	#content form#purchase input[type='submit']{
		display: inline;
	}

	#content{
		position: relative;
	}

	#content div.accountFunctions{
		float: right;
		margin-left: 30px;
		position: absolute;
		right: 0px;
	}

	#content a.accountFunctions{
		background-color: #fff;
		color: #c8c8c8; /* color */
		font-size: 40px;
		width: 40px;
		height: 40px;
		line-height: 0px;
		margin-top: 15px;
		margin-left: 6px;
	}

	#content a.accountFunctions:hover{
		background-color: #fff;
		color: #B197A0; /* color */
	}



}